*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

a {text-decoration: none;}
body{
	font-size: 100%;
}
@font-face {font-family: 'Frank'; src: url('FatFrank.otf');}
@font-face {font-family: 'Geo'; src: url('GeomancyB.otf');}
@font-face {font-family: 'GeoLight'; src: url('GeomancyH.otf');}
@font-face {font-family: 'Awesome'; src: url('FontAwesome.otf');}
@font-face {font-family: 'SubwayIcon'; src: url('CittadinoSymbols.otf');}

.content-wrapper{
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}
.bgText{
  font-family: 'GeoLight', sans-serif;
  font-size: 14em;
  color: #f4f4f4;
  position: absolute;
  top: -100px;
  left:100px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.bgText2{
  font-family: 'GeoLight', sans-serif;
  font-size: 14em;
  color: #f8f8f8;
  position: absolute;
  top: -250px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
}
.hide{overflow-x:hidden;}
.invisible {display: none;}
.brand{
  font-family: 'Geo', sans-serif;
  font-size: 12em;
  margin: 0px auto 20px;
  display: block;
  position: relative;
}

.brandLight{
  font-family: 'GeoLight', sans-serif;
  font-size: 7em;
  margin-top:-60px;
}

.yonge-line-color {color: #fbd000; fill: #fbd000;}
.bloor-line-color {color: #26aa50; fill: #26aa50;}
.scarb-line-color {color: #3795d6; fill: #3795d6;}
.shepp-line-color {color: #b0147a; fill: #b0147a;}
.lrail-line-color {color: #f1872a; fill: #f1872a;}
.other-line-color {color: #8ecc30; fill: #8ecc30;}

.row{
		clear: both;
	}

/*----------Social/Home and Subway Icon Fonts------------------*/

.social{
	float:right;
	font-size: 1.2em;
	display: inline-block;
	font-family: 'Awesome', sans-serif;
	padding: 0 2px;
	margin-right:5px;
}
.fa-twitter-square:before {
	content: "\f081";
	color:#3cf;
}
.fa-facebook-square:before {
	content: "\f082";
	color: #3b5998;
}

.fa-home:before {
	display: inline-block;
	font-family: 'Awesome', sans-serif;
	content: "\f015";
	color: #999;
	padding: 0 4px;
	font-size: 1.2em;
}

/*----------Large BUS and BIKE Icons -------------------------*/

	.subway:before {
  		display: inline-block;
  		font-family: 'SubwayIcon', sans-serif;
  		content: '\V';
  		color: #fff;
  		padding: 0 4px;
  		font-size: 0.3em;
  		opacity: 0.5em;
  		position: absolute;
		top: -20px;
		left: 30px;
	}
	.bike:before {
  		display: inline-block;
  		font-family: 'SubwayIcon', sans-serif;
  		content: '4';
  		color: #444;
  		padding: 0 4px;
  		font-size: 6em;
  		position: absolute;
		top: 40px;
		left: 30px;
	}
	.bus:before {
  		display: inline-block;
  		font-family: 'SubwayIcon', sans-serif;
  		content: 'F';
  		color: #444;
  		padding: 0 4px;
  		font-size: 6em;
  		position: absolute;
		top: 45px;
		left: 50px;
	}

/*----------Circle and Numbers---------------------------------*/

	.container{
		float:left;
		margin:10px;
		position: relative;
	}
	.fa-circle:before {
		display: inline-block;
		font-size: 12em;
		font-family: 'Awesome', sans-serif;
  		content: "\f111";
	}
	.numbers {
		font-family: 'Frank', sans-serif;
		position: absolute;
		top: 25px;
		left: 34px;
		font-size: 6em;
		color: #fff;
	}
	.secondary{
		font-family: 'Frank', sans-serif;
		position: absolute;
		top: 100px;
		left: 10px;
		font-size: 0.25em;
		color: #fff;
		opacity: .25;
	}
	.sm{
		font-size: 0.20em;
	}
	.fade {
	   opacity: 1;
	   transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	   -webkit-transition: opacity .25s ease-in-out;
	   cursor: pointer;
   	}
   	.fade:hover {
      opacity: 0.7;
      }

    .fa-circle-o:before {
    	display: inline-block;
		font-size: 12em;
		font-family: 'Awesome', sans-serif;
  		content: "\f10c";
	}

/*----------Maps ---------------------------------*/
.fancybox-wrap {
	width: 90% !important;
	top: 5% !important;
	left: 5% !important;
	background: #fff;
}
.fancybox-inner {
	width: 100% !important;
	overflow: hidden !important;
}
.fancybox-skin, .fancybox-outer {
	overflow-y:hidden;
}
.fancybox-overlay {
	background: #f8f8f8;
	opacity: 0.9;
}
.fancybox-close {
	position: absolute;
	top: 5px;
	right: 0px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
	font-size: 38px;
	font-family: 'Frank', sans-serif;
	color: #999;
}
.map{
	display: none;
	font-family: 'Frank', sans-serif;
}


text{
	fill: #aaa;
}
tspan.station{
	position: relative;
}
tspan.station:hover{
	cursor: default;
}
tspan.station tspan {
	display: none;
	font-family: sans-serif;
	position: absolute;

}

tspan.station:hover tspan {
	display: inline;

}



*----------Media Q ---------------------------------*/

	@media (max-width: 820px){
		.brand{font-size: 8em;}
		.brandLight{font-size: 5em;} 

		.content-wrapper {
		  background-size: cover;
		  display: inline-block;
		  align-items: center;
		  justify-content: center;
		  height: none;
		}

		.bgText{
			font-size: 12em;
		}
	}


	@media (max-width: 560px){
		.brand{font-size: 5em;}
		.brandLight{font-size: 3em;margin-top:-40px;} 

		.content-wrapper {
		  background-size: cover;
		  display: inline-block;
		  align-items: center;
		  justify-content: center;
		  height: none;
		}
		.bgText{
			display: none;
		}
	}

