<!DOCTYPE html>
<html lang="en" ng-app="ttc">
<head>
	<meta charset="utf-8">
	<title>Challenge</title>
	<link rel="stylesheet" type="text/css" href="jquery.fancybox.css">
	<link rel="stylesheet" type="text/css" href="global.css">

	<!-- Add jQuery library -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	
	<!-- Add fancyBox -->
	<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>


	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-route.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
</head>

<body>
	<span class="bgText hide">TORONTO SUBWAY BICYCLE BUS ROUTES</span>
	<span class="bgText2 hide">TORONTO SUBWAY BICYCLE BUS ROUTES</span>
	<nav>
		<a href="#" class="fa-home"></a>
		<!-- <a href="#" class="subway"></a> -->

		<a href="#" class="social fa-twitter-square"></a>
		<a href="#" class="social fa-facebook-square"></a>
	</nav>
	<div class="content-wrapper clearfix">
		<div class="clearfix">
		
	    	<span class="brand">TORONTO</span>
	    	<span class="brand brandLight">Transit Guide</span>	
	  		
			<div class="container fa-circle yonge-line-color fade"><a href="#yongeMap" class="numbers fancybox stations">1Y <span class="secondary">YONGE</span></a></div>
			<div class="container fa-circle bloor-line-color fade"><a href="#bloorMap" class="numbers fancybox stations">2B <span class="secondary">BLOOR</span></a></div>
			<div class="container fa-circle scarb-line-color fade"><a href="#scarMap" class="numbers fancybox stations">3S <span class="secondary">RT</span></a></div>
			<div class="container fa-circle shepp-line-color fade"><a href="#sheppardMap" class="numbers fancybox stations">4S <span class="secondary sm">SHEPPARD</span></a></div>
			<div class="container fa-circle lrail-line-color fade"><a href="" class="numbers">LR</a></div>

	  		<div class="row container fa-circle-o other-line-color fade"><span class="bike"></span></div>
			<div class="container fa-circle-o other-line-color fade"><span class="bus"></span></div>
	  	</div>

	</div>
	<div id="bloorMap" class="map bloor bloor-line-color clearfix" ng-controller="bloorController">
		<h2>Bloor Line</h2>
		<ul>
			<li ng-repeat="station in bloor_line">
				<span>{{station.title}}</span>
			</li>
		</ul>
	</div>
	<div id="sheppardMap" class="map sheppard shepp-line-color clearfix" ng-controller="sheppardController">
		<h2>Sheppard Line</h2>
		<ul>
			<li ng-repeat="station in sheppard_line">
				<span>{{station.title}}</span>
			</li>
		</ul>
	</div>
	<div id="yongeMap" class="map yonge yonge-line-color clearfix" ng-controller="yongeController">
		<h2>Yonge Line</h2>
		<ul>
			<li ng-repeat="station in yonge_line">
				<span>{{station.title}}</span>
			</li>
		</ul>
	</div>
	<div id="scarMap" class="map scar scarb-line-color clearfix" ng-controller="scarController">
		<h2>Scarborough Line</h2>
		<ul>
			<li ng-repeat="station in scar_line">
				<span>{{station.title}}</span>
			</li>
		</ul>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".fancybox").fancybox();
			$(".stations").fancybox({
		          helpers: {
		              title : {
		                  type : 'float'
		              }
		          }
		      });
		});
	</script>
</body>
</html>
